# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3*
*.log

# Envs & secrets
.env
*.env
.env copy

# Virtualenv
venv/
.venv/

# Django collected static
staticfiles/
media/

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Byte-compiled / cache
*.pyo
*.pyd
*.pdb

# Migrations cache
*.pyc

# JetBrains
.idea/

# Local artifacts / tests
historial*.pdf
historial*.xml
*_test_*.pdf

# Credentials / provider files
CLAVE_PRODUCCION.txt
CONGENTE_CLAVE_WS_REST_PRESELECTA_25674_DEMO.txt
PRESELECTA_congente_PRODUCCION.postman_collection.json
PRESELECTA_congente_PRODUCCION.postman_collection.json
create_template.py
CONGENTE_CLAVE_WS_REST_PRESELECTA_25674_DEMO.txt
CLAVE_PRODUCCION.txt
1123038155-114655-130.pdf
CLAVE WSS PRUEBAS CONGENTE HPN.txt
CLAVE WSS PROD COOPERATIVA DE AHORRO Y CREDITO CONGENTE.txt