version: "3.9"

services:
  web:
    build: .
    command: /app/entrypoint.sh
    ports:
      - "8004:8000"
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: 5432
      NO_PROXY: 127.0.0.1,localhost,192.168.15.215
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5440:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres} -d ${DB_NAME:-postgres}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
